<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p class="copyright text-muted">
          Copyright By <a target="_blank" href="https://www.linkedin.com/in/xiaobin-li-52913438/">Li Xiaobin.</a> Contact <a target="_blank" href="mailto:xiaobin_li@163.com"> Mail.</a></p>
        <p class="copyright text-muted">
          Theme by Levblanc<a target="_blank" >.</a>
        <p class="copyright text-muted">
          Powered By <a target="_blank" href="https://hexo.io/">Hexo.</a>
        </p>
        <p class="view counter text-muted">
          Total <span id="busuanzi_value_site_pv"></span> Views /<span id="busuanzi_value_page_pv"></span> Hits /<span id="busuanzi_value_site_uv"></span> Viewers
        </p>
        </li>
      </div>
    </div>
  </div>
</footer>
